<div class="background">
  <div class="container">
    <div class="pt-5">
      <div class="card">
        <div class="card-header">
          <center>
            <h1>Welcome</h1>
          </center>
        </div>
        <div class="card-body">
          <h3>
            Please select
          </h3>
          <br />
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <button ng-click="redirect('/drum')" class="btn btn-success btn-block btn-lg">
                  Play Drum
                </button>
              </div>
              <div class="col">
                <button ng-click="redirect('/task')" class="btn btn-default btn-block btn-lg">
                  Make list
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
